@charset "utf-8";

/* 通用样式 */
    
*{margin:0;padding:0;border:none;list-style:none;outline:none;box-sizing: border-box;}
body {  font-family: "微软雅黑";  padding: 0; margin: 0; color: #535353; }
div, section,form, img,ul, dd, dl, ol, dt, li, p { list-style: none; padding: 0; margin: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; margin: 0; padding: 0; font-weight: normal; }
table { border-collapse: separate; border-spacing: 0; }
table, td, th { vertical-align: middle; }
textarea, input, button, select, keygen, legend { outline: 0; margin: 0; padding: 0;}
img{border:none;vertical-align:bottom;}
input[type="button"],input[type="submit"],input[type="reset"]{-webkit-appearance:none;outline:none;}
a { text-decoration: none;  cursor: pointer; }
a:hover { text-decoration: none; }

/*:root{*/
	/*font-size:10px*/
/*}*/
/*html{*/
	/*font-size:10px*/

/*}*/
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    /*padding: 15px;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* 通用样式 */
.right{
	float:right;
	/*background: url(../imgs/search.png) no-repeat center;*/
}
.padding-right-3rem{
	padding-right:.3rem;
}
.padding-left-3rem{
	padding-left:.3rem;
}
@media screen and (min-width:460px)and (min-width:640px){
	// html{font-size:100px!important;}
	// .transtrom{
	//  transform:scale(1.5);
	//     -ms-transform:scale(1.5);
	//     -webkit-transform: scale(1.5);
	// }
}
#nav>div{
	display:inline-block;
}
#nav{
	padding: 0;
	position:fixed;
	width:100%;
	height:.6rem;
font-size:.34rem;
 /*font-size:20px;*/
background:#333;
/*opacity:0.4;*/
}	
#nav div:first-child{
	height:.6rem;
	padding-left: .1rem;
}
#nav >div:nth-child(2){
	height:.6rem;
	color:#fff;
	line-height:.6rem;
	 text-align: center;
}


#nav>div:last-child{
	height: .6rem;
	line-height:.6rem;

}
.display-inline-block{
	display: inline-block;;
}
#nav>div:last-child>img ,#nav>div:first-child>img  {

	width: 80%;
	height:80%;
	margin-top:5%;
	margin-left:0;
}
// #nav>div:first-child>img{
// 	padding-left:.1rem;
// }
.bg-color-eee{
	background-color: #eee;
	height:.2rem;
}
/*预告 */
.trailer, .live , .history{
	height:3.5rem;
	background-color: aqua;
}
.trailer-msg{
	background-color: rgba(255, 255, 255, 0.5);
	font-size: .26rem;
	height:.64rem;
	line-height: .64rem;
}
.trailer-msg>span,.trailer-msg>div{
	// text-indent: 15px;
	font-weight: 600;
}
.line{
	width:1px;height:.3rem;
                    display:inline-block;border-left:1px solid #333;line-height:.6rem;position:relative;top:.05rem;
}
.clock{
	margin-right:.2rem;
                    width:.4rem;
                    height:.4rem;
                    position:relative;
                    top:-.1rem;
}
.trailer-msg>div{
	padding-right: .2rem;
	// border-right: 1px solid #333;
	height: .3rem;
}
.div{
	display: inline-block;
	height: .4rem;
	font-size: .16px;
}
.trailer-msg>div>div{
	display: inline-block;
	font-size: .01rem;
	height: .2rem;

}
