<!--<link rel="stylesheet" href="../css/liveChina.css">-->
<div ng-controller="live">
    <nav ali id="nav">
        <div  class="col-1 ">
            <!--<img ng-click="goBack()" class=" " src="src/imgs/left.png" alt="">-->
        </div>
        <div  class="col-9 title padding-left-3rem">
            <input id="input-search" type="search" ng-focus="searchType = true" placeholder=" &nbsp;&nbsp;请输入搜索关键词" ng-model="searchWords">
        </div>
        <div align="center" class="col-2 right ">
            <button ng-if="searchType " ng-click="search()">搜索</button>
            <button ng-if="searchType == false" ng-click="cancelSearch()">取消</button>
            <!--<a href="#/search">-->
                <!--<img class="right  padding-right-3rem" src="src/imgs/search.png" alt="">-->
            <!--</a>-->
        </div>
    </nav>

    <!--预告-->
    <!--<div style='height:.9rem'></div>-->
    <article  >
        <!--<section id="empty" style="position: absolute;top:120px;">1</section>-->
        <section ng-repeat=" data in trailer |orderBy:'start_time'">
            <a href="#/liveList/{{data.id}}/{{data.time_status}}">
                <div class="trailer" style="background-image: url({{data.indexpic.host+data.indexpic.dir+data.indexpic.filepath+data.indexpic.filename||'http://ocb467zho.bkt.clouddn.com/bbs/pics/2017/0216/ce/cef05ac20cf7bc55ffeb64abffe78a60.jpg?{$hgPicSizeStart}imageView2/1/w/{$hgPicSizeWidth}/h/{$hgPicSizeHeight}{$hgPicSizeEnd}'}});
    background-size:100% 100%;">
                    <div style="padding-top:.2rem;padding-left:.3rem;
                    font-size:.26rem;line-height: .4rem;height: .8rem;">

                        <img class="tv-logo"
                             ng-src="{{data.sort_pic|| 'https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2460047465,2243415985&fm=58&u_exp_0=1893013850,1910110575&fm_exp_0=86&bpow=683&bpoh=993'}}"
                             alt="">

                        <span class="tv-name">{{data.sort_name}}</span>
                        <span class="type-name">预告</span>
                        <!--tv-logo tv-name type-name-->
                    </div>
                    <div class="index-title">
                        {{data.title| limitTo:20}}
                    </div>
                </div>
            </a>

            <div class="trailer-msg">
                <div class="padding-left-3rem display-inline-block"><span class="f00000">{{data.alliance_num}}</span>
                    台联盟
                </div>
                <div class="line"></div>
                <span class="fabf63">{{data.click_num}} </span>人预约
                <span align="'center" class="padding-right-3rem right">
                    <!--<img class="clock" src="src/imgs/clock.png" alt="clock" >-->
                <div align="center" style="display:inline-block;z-index: 4;position: relative">
                    <img class="clock" src="src/imgs/clock.png" alt="clock" style="transform: scale(.7);">
                </div>

                  {{timer(data)}}</span>
                <!--{{timer(data.start_time+1502996702230)}}</span>-->
            </div>
            <div class="bg-color-eee"></div>
        </section>

        <!--直播-->
        <section ng-repeat=" data in live |orderBy:'-click_num'">
            <a href="#/liveList/{{data.id}}/{{data.time_status }}">
                <div class="live trailer" style="background-image: url({{data.indexpic.host+data.indexpic.dir+data.indexpic.filepath+data.indexpic.filename||'http://ocb467zho.bkt.clouddn.com/bbs/pics/2017/0216/ce/cef05ac20cf7bc55ffeb64abffe78a60.jpg?{$hgPicSizeStart}imageView2/1/w/{$hgPicSizeWidth}/h/{$hgPicSizeHeight}{$hgPicSizeEnd}'}});
        background-size:100% 100%;">
                    <div style="padding-top:.2rem;padding-left:.3rem;
font-size:.26rem;line-height: .4rem;height: .8rem;
">
                        <img class="tv-logo"
                             ng-src="{{data.sort_pic|| 'https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2460047465,2243415985&fm=58&u_exp_0=1893013850,1910110575&fm_exp_0=86&bpow=683&bpoh=993'}}"
                             alt="">
                        <span class="tv-name">{{data.sort_name}}</span>
                        <span style="width:1.2rem ;color:#ff4a52" class="type-name">直播中</span>
                        <!--tv-logo tv-name type-name-->
                    </div>
                    <div class="index-title">
                        {{data.title| limitTo:26}}
                    </div>
                </div>
            </a>
            <div class="trailer-msg">
                <div class="padding-left-3rem display-inline-block"><span class="f00000">{{data.alliance_num}}</span>
                    台联盟
                </div>
                <span class="padding-right-3rem right "> <span
                        style="color:#fabf63">{{data.click_num||'99'}}</span> <span class="opacity">人气</span></span>
            </div>
            <div class="bg-color-eee"></div>

        </section>
        <div>

        </div>
        <!--回看-->
        <section ng-repeat=" data in history |orderBy:-'end_time'" class="">
            <a href="#/liveList/{{data.id}}/{{data.time_status}}">
                <div class="history trailer" style="background-image: url({{data.indexpic.host+data.indexpic.dir+data.indexpic.filepath+data.indexpic.filename||'http://ocb467zho.bkt.clouddn.com/bbs/pics/2017/0216/ce/cef05ac20cf7bc55ffeb64abffe78a60.jpg?{$hgPicSizeStart}imageView2/1/w/{$hgPicSizeWidth}/h/{$hgPicSizeHeight}{$hgPicSizeEnd}'}});
    background-size:100% 100%;">
                    <div style="padding-top:.2rem;padding-left:.3rem;
font-size:.26rem;line-height: .4rem;height: .8rem;
">
                        <img style="" class="tv-logo"
                             ng-src="{{data.sort_pic|| 'https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2460047465,2243415985&fm=58&u_exp_0=18930138501910110575&fm_exp_0=86&bpow=683&bpoh=993'}}"
                             alt="">
                        <span style="" class="tv-name">{{data.sort_name}}</span>
                        <span style="color:#ff7b16" class="type-name">回看</span>
                        <!--tv-logo tv-name type-name-->
                    </div>
                    <div class="index-title">
                        {{data.title| limitTo:20}}
                    </div>
                </div>
            </a>
            <div class="trailer-msg">
                <div class="padding-left-3rem display-inline-block"><span class="f00000">{{data.alliance_num}}</span>
                    台联盟
                </div>
                <span class="padding-right-3rem right "> <span style="color:#fabf63">{{data.click_num||'123'}}</span> 人气</span>
            </div>
            <div ng-if="!$last" class="bg-color-eee"></div>
        </section>
        <div>

        </div>
        <h2 style="font-size: .28rem;text-align: center;margin-top:.2rem; opacity: .7" ng-if="recommend && newHistory.length<0">没有搜索到你要的信息</h2>
        <div class="recommend" style="margin-bottom:0;" ng-if="recommend " >
            <div class="line-row"></div>
            <div class="heart-shape left-10px"> </div>为您推荐：
            <div class="line-row"></div>
        </div>
        <section ng-if="recommend"  ng-repeat=" data in recommendList  |orderBy:'-click_num'  ">
            <a href="#/liveList/{{data.id}}/{{data.time_status }}">
                <div class="live trailer" style="background-image: url({{data.indexpic.host+data.indexpic.dir+data.indexpic.filepath+data.indexpic.filename||'http://ocb467zho.bkt.clouddn.com/bbs/pics/2017/0216/ce/cef05ac20cf7bc55ffeb64abffe78a60.jpg?{$hgPicSizeStart}imageView2/1/w/{$hgPicSizeWidth}/h/{$hgPicSizeHeight}{$hgPicSizeEnd}'}});
        background-size:100% 100%;">
                    <div style="padding-top:.2rem;padding-left:.3rem;
font-size:.26rem;line-height: .4rem;height: .8rem;
">
                        <img class="tv-logo"
                             ng-src="{{data.sort_pic|| 'https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2460047465,2243415985&fm=58&u_exp_0=1893013850,1910110575&fm_exp_0=86&bpow=683&bpoh=993'}}"
                             alt="">
                        <span class="tv-name">{{data.sort_name}}</span>
                        <span style="width:1.2rem ;color:#ff4a52" class="type-name">直播中</span>
                        <!--tv-logo tv-name type-name-->
                    </div>
                    <div class="index-title">
                        {{data.title| limitTo:26}}
                    </div>
                </div>
            </a>
            <div class="trailer-msg">
                <div class="padding-left-3rem display-inline-block"><span class="f00000">{{data.alliance_num}}</span>
                    台联盟
                </div>
                <span class="padding-right-3rem right "> <span
                        style="color:#fabf63">{{data.click_num||'99'}}</span> <span class="opacity">人气</span></span>
            </div>
            <div class="bg-color-eee"></div>

        </section>
        <h2 class="animate-left" style="" ng-if="recommend === false && searchIsEmpty === true">没有搜索结果,换个关键字试试</h2>
    </article>

</div>

