

    <link rel="stylesheet" type="text/css" href="src/css/search.css">

<body ng-controller="search">
<div class="search">
    <div class="col-2">
        <img ng-click="goBack()" class=" " src="src/imgs/right.png" alt="">
    </div>
    <div class="col-8"> <input type="search" placeholder="请输入j搜索关键词" ng-model="text"  ng-keyup="keyUp($event)"></div>
    <div class="col-2 cancel">取消</div>
</div>
<div style="font-size: 28px"  class="search-history">
    搜索历史
</div>
<div class="clear-history">
   清空所以浏览记录？
</div>
</body>
    <!--<script src="src/js/lib/search.js"></script>-->
<!-- <script src="https://cdn.bootcss.com/angular.js/1.5.8/angular.js"></script> -->
