<!DOCTYPE html>
<html >
<head>
    <meta name="applicable-device" content="mobile" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no,email=no">
    <link rel="stylesheet" type="text/css" href="../css/normal.css">

    <link rel="stylesheet" type="text/css" href="../css/search.css">
</head>
<body>
<div class="search">
    <div class="col-2">
        <img class=" " src="../imgs/right.png" alt="">
    </div>
    <div class="col-8"> <input type="text" placeholder="请输入搜索关键词"></div>
    <div class="col-2 cancel">取消 </div>
</div>
<div style="font-size: 28px"  class="search-history">
    搜索历史
</div>
<div class="clear-history">
   清空所以浏览记录？
</div>
</body>
<!-- <script src="https://cdn.bootcss.com/angular.js/1.5.8/angular.js"></script> -->
<script src="../../src/js/lib/rem.js"></script>
<script src="../../src/js/lib/angular.min.js"></script>
<script src="../../src/js/lib/angular-route.min.js"></script>
<script src="../../src/js/lib/liveChinaApp.js"></script>
<script type="text/javascript">


</script>
</html>
