.show-video{

    height: 4.2rem;
    background-color: #454545;
}
.title{
    min-height:.9rem;
    text-align: center;
    font-size: .3rem;
    /*line-height:.9rem;*/
    padding:.15rem .2rem;
    over-flower:hidden;
}
.share{
    overflow: hidden;
    height: .74rem;
    position: absolute;
    /*top:-.74rem;*/
    width: 100%;
    z-index: 999;
    background-color: rgba(110, 110, 110,.4);
}
.load{
    position: absolute;
    top:6.5rem;
    padding-left: .2rem;
    width: 1.8rem;
    height: .3rem;
    font-size: .22rem;
    left:50%;
    margin-left: -.9rem;
    color:#fff;
    background-color: #333;
    /*background-color: #5d82ff;*/
}
/*.load>div{*/
    /*border:2px solid #edea1b;*/
    /*border-bottom:2px solid #fff;*/
    /*border-radius: 50%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*-webkit-animation:circle 1s infinite linear;*/
/*}*/
/*@-webkit-keyframes circle{*/
    /*0%{ transform: rotate(0deg); }*/
    /*100%{ transform: rotate(360deg); }*/
/*}*/
.share>img{
    height: .4rem;
    margin-top:.17rem;
}
.share>img:first-child{
    float: left;
    padding-left:.3rem;
}
.share>img:last-child{
    float: right;
    padding-right:.3rem;

}
.bg-color-238{
    background-color: rgb(238,238,238);
    height:.2rem;
}
.font-size-26{
    font-size: .26rem;
}
.introduce-interaction{
    color:#999;
    text-align: center;
    line-height:.65rem;
    height:.65rem;
    overflow-y: hidden;
    border-bottom: 2px solid #F0F0F0;
}
.introduce-interaction>div{
    line-height:.65rem;

}
.interaction>div:first-child{
    margin-top:.2rem;

}
.interaction{
    margin-bottom:1rem;
    padding-top:6rem
}
.interaction>div{
    font-size: .24rem;
    margin-top:.3rem;
}
.interaction>div>div{
    display: inline-block;

}

.comment{
    margin-left: 1rem;
    color: #5d82ff;
}
.channel{
    color: #fff;
    display: inline-block;
    background-color: #EFBF3B;
    border-radius:.3rem;
    padding:0  .15rem;
    margin-left: .2rem;

}
#none{
    display: none!important;
}
.user-logo{
    width: .6rem;
    height: .6rem;
    position: absolute;
    left:.2rem;
    border-radius:50%;
    font-size:.26rem;
    /*background-color: #b7cbf8;*/

}
.user-logo>img{    border-radius:50%;
    width:100%;
    height:100%;
}
.reply{
    color: #535353;
    padding-right:.1rem;
    /*left:.6rem;*/
    /*top:-.3rem;*/
}
.border-bottom{
    border-bottom:1px solid #333
}
.introduce{
    margin:.2rem .2rem .3rem .2rem;
    border-radius: 50%;
    font-size:.26rem;
    line-height:.8rem;
    height:.8rem;
    ;
}
.introduce>img {
    border-radius: 50%;
    width: .8rem;
    height:.8rem;
}
.introduce>span{
    margin-left:.2rem;
}
.introduce-content{
    margin-left:.2rem;
    font-size:.26rem;
    color: #a3a3a3;
    padding:0 .12rem;
}
.introduce-content>span{
    margin-left:.24rem;
}
.launch-time{
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: .3rem;
}
video{
    font-size:.2rem;
    width: 100%;
    height: 100%;
    /*margin-top: -.12rem;*/
}
.input-comment{
    width:100%;
    display: block;
    position: fixed;
    bottom:0;
    z-index:9999;
    height: 1rem;
    border-top:.01rem solid #f2f2f2;
    background-color: #fff;
}
.input-comment>input[type='text']{
    font-size: .26rem;
    width:63%;
    border-radius: .3rem;
    margin-left:0.3rem;
    padding-left:.2rem;
    height:.6rem;
    position: absolute;
    top:.2rem;
    background-color: #f2f2f2;
}
.input-comment>button{
    font-size: .26rem;
    height:.6rem;
    position: absolute;
    top:.2rem;
    width:20%;
    right:.4rem;
    border-radius: 5%;
    background-color: #EFBF3B;
}

.underLine{
    height: 4px;background-color: #333;width: .6rem;position: relative;
    top: .57rem;left: 70%;
}
.toLeft{
    height: 4px;background-color: #333;width: .6rem;position: relative;
    top: .57rem;left: 21%;
    animation:myfirst 0.5s;
    -webkit-animation:myfirst 0.5s; /* Safari and Chrome */
}

@keyframes myfirst
{
    0%   { top: .57rem;left: 70%;}
    /*50%  { top: .61rem;left: 50%;}*/
    100% { top: .57rem;left: 21%;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%   { top: .57rem;left: 70%;}
    /*50%  { top: .61rem;left: 50%;}*/
    100% { top: .57rem;left: 21%;}
}

.toRight{
    height: 4px;background-color: #333;width: .6rem;position: relative;
    top: .57rem;left: 70%;
    animation:toright 0.5s;
    -webkit-animation:toright 0.5s; /* Safari and Chrome */
}

@keyframes toright
{
    0%   { top: .57rem;left: 21%;}
    /*50%  { top: .61rem;left: 50%;}*/
    100% { top: .57rem;left: 70%;}
}

@-webkit-keyframes toright /* Safari and Chrome */
{
    0%   { top: .57rem;left: 21%;}
    /*50%  { top: .61rem;left: 50%;}*/
    100% { top: .57rem;left: 70%;}
}
.loading{
    position: fixed;top:0;right:0;bottom: 0;
    left:0;margin:auto;margin-bottom:1.2rem;
    border-radius: 50%;
}
#totalMessage{
    position: fixed;
    top:.2rem;
    z-index: 999;
    opacity: .95;
    padding-top:.6rem;
    font-size: .3rem;
    padding-bottom:.6rem;
    color:#ffffff;
    width: 90%;
    height:90%;
    margin:5%;

}
.make-sure{
    font-size: .36rem;
    height: .8rem;
    width: 5.5rem;
    line-height: .8rem;
    margin:0 auto;
    background-color: #edd14a;
    border-radius: .12rem;
    margin:.5rem 0 1rem 0;
}
live-name{
    font-size: .28rem;
}
.live-end{
    font-size: .4rem;
    margin-bottom:.3rem;

}
.live-end-logo{

}
#totalMessage{
    background-color: #999;
}
#totalMessage>div:nth-child(2){
    margin:.3rem 0;
}
.live-end-logo img{

    width: 1.2rem;
    height:1.2rem;
    display:inline-block ;
    border-radius: 50%;
}
.live-end-logo>span{
    text-align: center;
}
#totalMessage>.live-logo-name{
    height: .4rem;
    line-height:.4rem;
}
#totalMessage>.live-logo-name>img{
    width: .4rem;
    height:.4rem;
    border-radius:50%;
}
#totalMessage>.live-end{
    margin:.6rem 0 0 .2rem;
}
#totalMessage>.live-end>div{
    display: inline-block;

}
#totalMessage>.live-end>div:first-child,#totalMessage>.live-end>div:last-child{
     height: 1px;
    width: 1.2rem;
    background-color: #ffffff;
    position: relative;
    top:-.1rem;


}
.color-333{
    color:#000;
}