.search{
    height: .6rem;
    background-color: #333;
    font-size:.3rem;
    overflow: hidden;
}
.search>div{
    display: inline-block;
}
.search>.col-8>input{
    width: 90%;
    text-align: center;
    height:.5rem;
    padding: 0 .2rem;
    font-size:.3rem;
    text-indent: .3rem;
    border-radius: .25rem;
    margin:.055rem auto;

    background: url(../imgs/search3.png) no-repeat center left ;
    background-color:#fff;
    background-origin: content-box;
}
.search>.col-2>img{
    width:50%;
    height:50%;
    position: relative;
    margin-top:.04rem;
}
.cancel{
    color:#fff;
    text-align:center;
    font-size: .3rem;
    height:.6rem;
    line-height: .6rem;

}
.search-history>div{
    font-size: 30px;
}
.clear-history{
    font-size: .3rem;
    text-align:center;
    margin-top:.3rem;
}
.search-history-list{
    background: url(../imgs/right-logo.png) no-repeat center right;
}
#alert{
  position: absolute;
    top:-.4rem;
    font-size: .28rem;
    margin : 0 auto;
    width: 2.4rem;
    left:50%;
    margin-left:-1.2rem;
    height:.4rem;
    background: #fdfdfd;
    text-align: center;
    border:0;
 }
.alert{
    border:1px solid #333;
    animation:alert 2s;
    -webkit-animation:alert 2s; /* Safari and Chrome */
}

@keyframes alert
{
    0%   { top: -.4rem;color: #333333;font-weight: 400;}
    25%  { top: 1rem;color: #070777;font-weight: 600;}
    75%  { top: 1rem;color: #333333;font-weight: 800; }
    100% { top: -.4rem;color: #070777;font-weight: 500;}
}

@-webkit-keyframes alert /* Safari and Chrome */
{
    0%   { top: -.4rem;color: #333333;font-weight: 400;}
    25%  { top: 1rem;color: #070777;font-weight: 600;}
    75%  { top: 1rem;color: #333333;font-weight: 800; }
    100% { top: -.4rem;color: #070777;font-weight: 500;}
}
.history-ul{
    position: absolute;
    top:.8rem;
    background-color: #2a63ee;
}
.history-ul>li {

    background: url(/liveChina/src/imgs/right-logo.png) no-repeat center right;
    font-size:.3rem;border-bottom:1px solid #999;padding:.3rem 0;opacity: .7
}
.history-ul>li:first-child{
    background: none;font-weight: bold;opacity: 1;
}
.bg-img-right{
    background-img: url(/liveChina/src/imgs/right-logo.png);

}

.clear-history{
    font-size:.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .4rem;
}

