.search{
    height: .6rem;
    background-color: #333;
    font-size:.3rem;
    overflow: hidden;
}
.search>div{
    display: inline-block;
}
.search>.col-8>input{
    width: 90%;
    text-align: center;
    height:.5rem;
    padding: 0 .2rem;
    font-size:.3rem;
    text-indent: .3rem;
    border-radius: .25rem;
    margin:.055rem auto;

    background: url(../imgs/search3.png) no-repeat center left ;
    background-color:#fff;
    background-origin: content-box;
}
.search>.col-2>img{
    width:50%;
    height:50%;
    position: relative;
    margin-top:.04rem;
}
.cancel{
    color:#fff;
    text-align:center;
    font-size: .3rem;
    height:.6rem;
    line-height: .6rem;

}
.search-history>div{
    font-size: 30px;
}
.clear-history{
    font-size: .3rem;
    text-align:center;
    margin-top:.3rem;
}
.search-history-list{
    background: url(../imgs/right-logo.png) no-repeat center right;
}
